body{
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;

	background-color: white;
	background-image: url("../img/backgroundphoto.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: ;
	box-sizing: content-box;

	min-height: auto;
	margin: 0 auto;
	text-align: center;
}

a{
	text-decoration: none;
}

.visually-hidden {
	visibility: hidden;
}

.container {
	text-align: center;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: black;

	background-color: white;
	margin: 0px auto;
	width: 1200px;
	height: 56px;
}

ul {
	padding: 0;
	list-style: none;
}

header ul {
	display: flex;
	margin: 0;
	padding-top: 13px;
	padding-bottom: 17px;
	line-height: 26px;
}

.discript {
	background-color: white;
	margin-top: -6px;
}

.site-navigation li:nth-child(1) {
	text-align: left;
}

.site-navigation li:nth-child(2) {
	text-align: left;
}

.site-navigation li:nth-child(3) {
	text-align: right;
	margin left: 20%;
}

.site-navigation li:nth-child(4) {
	text-align: right;
}

.site-navigation li {
	width: 20%;
	margin: 0 auto;
}

.main-header-logo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 138px;
	height: 78px;
	margin: auto;
}

.site-navigation {
	width: 100%;
}

.site-navigation li {
	display: inline-block;
}


.site-navigation a {
	color: black;
	font-weight: bold;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:focus {
	color: #b2b2b2;
}

.site-naigation ul {
	text-align: center;
}

img {
	border-style: none;
}

.welcome {
	margin-top: 17px;
}

.welcome-title::after {
	content: url(../img/backgrounddd.png);
	position: relative;
	top: 17px;
}


.form-hotels {
	background-image: url("../img/filterbackground.png");
}

.causes {
	font-size: 21px;
	font-height: 26px;
	color: black;
	margin-top: 41px;
	margin-bottom: 27px;
	margin-left: 350px;
	margin-right: 350px; 
	background-color: white;
}


.promo-causes {
	font-size: 14px;
	font-height: 26px;
	color: #333333;
	margin-bottom: 50px;

	background-color: white;
}

.causes1 {
	font-size: 21px;
	font-height: 21px;
	color: #ffffff;
	font-weight: bold;

	background-color: #81b3d2;
}

.causes-block {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	justify-content: center;
}

.causes-block-1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
} 

.causes-block-2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.causes-houseroom {
	display: flex;
	flex-direction: row;
	padding-right: 135px;
	height: 330px;
}

.causes-food {
	display: flex;
	flex-direction: row;
	height: 330px;
}

.causes-souvenirs{
	display: flex;
	flex-direction: row;
	padding-left: 125px;
	height: 330px;

}

.causes-block-3 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 256px;
}

.other-reasons {
	width: 400px;
	height: 256px;
}

.food {
	padding-top: 61px;
}

.houseroom {
	padding-top: 60px;
}

.souvenirs {
	padding-top: 57px;
}

.feature-big {
	background-color: #81b3d2;
	color: white;
	margin: 0px auto;
	width: 400px;
	height: 256px;
}


.bridge {
	background-color: #81b3d2;
	text-align: center;
	width: 400px;
	height: 256px;
	padding-top: 20px;
}

.causes1div span {
	font-size: 14px;
	font-height: 21px;
	color: #ffffff;

	background-color: #81b3d2;
}

.causes1div p {
	font-size: 14px;
	font-height: 21px;
	color: #ffffff;

	background-color: #81b3d2;
}

.causes-block-2 li{
	display: inline-block;


}

ul .causes-block-2 h3 {
	font-size: 21px;
	font-height: 21px;
	color: #000000;
	font-weight: bold;

	background-color: #ffffff;
}

ul .causes-block-2 p {
	font-size: 14px;
	font-height: 21px;
	color: #333333;

	background-color: #ffffff;
}

.bridge h3 {
	font-size: 21px;
	font-height: 21px;
	color: #ffffff;
	font-weight: bold;

	background-color: #81b3d2;
}

.causes-block-3 {
	width: 1200px;
	height: 256px;
}

.causes-block-3 span {
	font-size: 14px;
	font-height: 21px;
	color: #ffffff;

	background-color: #81b3d2;
}

.causes-block-3 p {
	font-size: 14px;
	font-height: 21px;
	color: #ffffff;

	background-color: #81b3d2;

}

.other-reasons {
	background-color: #eeeeee;
}


.area h3 {
	font-size: 21px;
	font-height: 21px;
	color: #000000;
	font-weight: bold;
}

.area span {
	font-size: 14px;
	font-height: 21px;
	color: #333333;
}

.area p {
	font-size: 14px;
	font-height: 21px;
	color: #333333;
}

.road h3 {
	font-size: 21px;
	font-height: 21px;
	color: #000000;
	font-weight: bold;
}

.road span {
	font-size: 14px;
	font-height: 21px;
	color: #333333;
}

.road p {
	font-size: 14px;
	font-height: 21px;
	color: #333333;
}

.tourist h3 {
	font-size: 21px;
	font-height: 21px;
	color: #000000;
	font-weight: bold;
}

.tourist span {
	font-size: 14px;
	font-height: 21px;
	color: #333333;
}

.tourist p {
	font-size: 14px;
	font-height: 21px;
	color: #333333;
}

.search-hotels b {
	font-size: 30px;
	font-height: 36px;
	font-weight: bold;
	color: #000000;

}

.search-hotels p {
	font-size: 14px;
	font-height: 24px;
	color: #333333;

}

.search-button {
	background-color: #766357;
	border: none;
	font-size: 21px;
	font-height: 26px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
}

.date-arrival {
	font-size: 14px;
	font-height: 26px;
	font-weight: bold;
	color: #000000;
	width: 100%;
	position: relative;
	margin-left: 43px;
	margin-right: 43px;
	font-weight: bold;
	color: #000000;
}

.date-departure {
	font-size: 14px;
	font-height: 26px;
	font-weight: bold;
	color: #000000;
	width: 100%;
	position: relative;
	margin-left: 43px;
	margin-right: 43px;
	font-weight: bold;
	color: #000000;
}

.child-div {
	font-size: 14px;
	font-height: 26px;
	font-weight: bold;
	color: #000000;
	position: relative;
	width: 33%;
	margin-right: 55px;
}

.adult-div {
	font-size: 14px;
	font-height: 26px;
	font-weight: bold;
	color: #000000;
	position: relative;
	width: 47%;
	text-align: left;
	margin-left: 45px;
}

.buttonS {
	background-color: #81b3d2;
	height: 58px;
	width: 458px;
	font-size: 21px;
	font-height: 26px;
	font-weight: bold;
	color: #ffffff;
	border: none;
	text-transform: uppercase;
}

.buttonS:hover {
	background-color: #669ec0;
}

.buttonS:focus {
	background-color: #5496bd;
	color: #94b9d2;
}

.social {
	background-color: rgba(254.254.252.0.5);
}

.socialbc {
	background-color: #81b3d2;
	width: 46px;
	height: 48px;
	text-align: center;
	margin: 6px;
}


.tag-item a {
	font-size: 21px;
	font-height: 26px;
	font-weight: bold;
	color: #000000;
}


.socialbc a:hover {
	background-color: #669ec0;
}


.socialbc a:focus {
	filter: opacity(0.5);
	background-color: #5496bd;
}

.developer-item {
	text-align: center;
}

.calendar {
	list-style: none;
	background-image: url("../img/calendar.svg");
	background-repeat: no-repeat;
	background-color: #f2f2f2;
	width: 21px;
	height: 22px;
	border: none;
	outline: none;
	position: absolute;
	top: 8px;
	right: 21px;
}

.calendar:hover {
	background-image: url("../img/calendarblack.svg");
	background-repeat: no-repeat;
	background-color: #f2f2f2;
	width: 21px;
	height: 22px;
	border: 0;
	position: absolute;
	top: 8px;
	right: 21px;
}

.calendar:focus {background-image: url("../img/calendarblue.svg");
	background-repeat: no-repeat;
	background-color: #f2f2f2;
	width: 21px;
	height: 22px;
	border: 0;
	position: absolute;
	top: 8px;
	right: 21px;
}

.date {
	background-color: #f2f2f2;
	border: none;
	width: 346px;
	height: 38px;
	position: relative;
	margin-left: 21px;
	font-weight: bold;
	color: #000000;
}

.date:hover {
	background-color: #ebebeb;
}

.date:focus {
	background-color: #ffffff;
}

.search-button {
	background-color: #766357;
	height: 86px;
	width: 568px;
	font-size: 21px;
	font-height: 26px;
	font-weight: bold;
	color: #ffffff;
	border: none;
	text-transform: uppercase;
	margin-top: 30px;
}

.search-button:hover {
	background-color: #604e43;
}

.search-button:focus {
	background-color: #503e33;
	color: #928a85;
}

.hotels a {
	list-style: none;
	color: #000000;

}

.hotels a:hover {
	color: #81b3d2;
}

.hotels a:focus {
	color: #cacaca;
}

.moreinfo a {
	background-color: #81b3d2;
	color: white;
	padding: 8px 17px;
	margin-top: 16px;

}

.moreinfo a:hover {
	background-color: #669ec0;
}

.moreinfo a:focus {
	background-color: #5496bd;
	color: #94b9d2;
}

.bookit a {
	background-color: #766357;
	color: white;
	padding: 8px 17px;
}

.bookit a:hover {
	background-color: #604e43;
	color: white;
}

.bookit a:focus {
	background-color: #503e33;
	color: #928a85;
}

.sorting-list a {
	color: #cacaca;
	border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:hover {
	color: #8bb9d5;
}

.sorting-list a:focus {
	color: #000000;
}

.sorting-list .active {
	border: none;
	text-decoration: none;
	color: #8bb9d5;
	cursor: default;
}

.sorting-list .active:focus {
	border: none;
	text-decoration: none;
	color: #8bb9d5;
	cursor: default;
}

.search-hotels {
	width: 100%;
	margin: 0 auto;
	margin-top: -15px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.map {
	width: 100%;
	margin: 0 auto;
	position: relative;
	display: flex;
	justify-content: center;
}

.form-search {
	width: 568px;
	height: 395px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	position: absolute;
	background-color: #ffffff;
}

.page-wrap {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0px 0px 40px 40px #f2f2f2;
}

.footer {
	display: flex;
	align-items: center;
	background-color: rgba(255,255,255,0.5);
	margin: 0 auto;
	width: 100%;
	height: 120px;
	margin-top: -120px;
	position: relative;
	z-index: 2;
}

.width-social {
	width: 33%;
}

.social ul {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social li {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	border: none;
	outline: none;
	list-style: none;
	width: 38px;
	height: 38px;
	position: absolute;
	background-color: #f2f2f2;
}

.child {
	width: 38px;
	height: 36px;
	border: none;
	outline: none;
	background-color: #f2f2f2;
	margin-left: 50px;
	text-align: center;
}

.adult {
	width: 38px;
	height: 36px;
	border: none;
	outline: none;
	background-color: #f2f2f2;
	margin-left: 78px;
	text-align: center;
}

.minus {
	position: absolute;
	border: none;
	outline: none;
	list-style: none;
	top: 0;
	right: 113px;
}

.plus {
	position: absolute;
	border: none;
	outline: none;
	list-style: none;
	top: 0;
	right: 38px;
}

.plusch {
	position: absolute;
	top: 0;
	right: -9px;
}

.minusch {
	position: absolute;
	top: 0;
	right: 67px;
}

.icon-minus {
	list-style: none;
	border: none;
	font-weight: bold;
	color: #a9a9a9;
}

.icon-plus {
	list-style: none;
	border: none;
	font-weight: bold;
	color: #a9a9a9;
}

.icon-plus {
	font-weight: bold;
}

.icon-minus:hover {
	font-weight: bold;
	color: #000000;
}

.icon-plus:hover {
	font-weight: bold;
	color: #000000;
}

.icon-minus:focus {
	font-weight: bold;
	color: blue;
}

.icon-plus:focus {
	font-weight: bold;
	color: #81b3d2;
}
