body{
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;

	background-color: white;
	background-image: url("../img/backgroundphoto.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: ;
	box-sizing: content-box;

	width: auto;
	min-height: auto;
	margin-left: 40px;
	margin-right: 40px;
}

a{
	text-decoration: none;
}

.visually-hidden {
	visibility: hidden;
}

.container {
	text-align: center;
}

.main-navigation {
	font-size: 14px;
	font-height: 26px;
	color: black;

	background-color: white;
	display: flex;
	justify-content: center;
	margin: 0px auto;
	width: 1200px;
	height: 56px;
}

ul {
	padding: 0;
	list-style: none;
}

header ul {
	display: flex;
	margin: 0;
	padding-top: 13px;
	padding-bottom: 17px;
	line-height: 26px;
}

.discript {
	background-color: white;
	margin-top: -6px;
	height: 1315px;
}

.site-navigation li:nth-child(1) {
	padding-left: 72px;
}

.site-navigation li:nth-child(2) {
	margin-right: 240px;
	text-align: center;
}

.site-navigation li:nth-child(3) {
	text-align: center;
}

.site-navigation li:nth-child(4) {
	padding-right: 72px;
	text-align: right;
}

.site-navigation li {
	box-sizing: border-box;
	width: 240px;
	list-style: none;
}

.header-logo {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -69px;
}

.site-navigation {
	list-style: none;
}

.site-navigation li {
	display: inline-block;
}


.site-navigation a {
	color: black;
	font-weight: bold;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:focus {
	color: #b2b2b2;
}

img {
	border-style: none;
}

.welcome {
	margin-top: 17px;
}

.welcome-figure::after {
	content: url(../img/backgrounddd.png);
	position: relative;
	top: 17px;
}


.form-hotels {
	background-image: url("../img/filterbackground.png");
}

.causes {
	font-size: 21px;
	font-height: 26px;
	color: black;
	margin-top: 41px;
	margin-bottom: 27px;
	background-color: white;
}


.promo-causes {
	font-size: 14px;
	font-height: 26px;
	color: #333333;

	background-color: white;
}

.causes1 {
	font-size: 21px;
	font-height: 21px;
	color: #ffffff;
	font-weight: bold;

	background-color: #81b3d2;
}

.causes-block {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid red;
	width: 1200px;
	height: 1099px;
	justify-content: center;
}

.causes-block-1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
} 

.causes-block-2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.causes-houseroom {
	display: flex;
	flex-direction: row;
	padding-right: 135px;
}

.causes-food {
	display: flex;
	flex-direction: row;
}

.causes-souvenirs{
	display: flex;
	flex-direction: row;
	padding-left: 125px;

}

.causes-block-3 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding-top: 67px;
	margin-bottom: -6px;
}

.causes-block-4 {
	display: flex;
	flex-direction: row;
	width: 400px;
	height: 256px;
	justify-content: center;
}

.causes-block-5 {
	display: flex;
	flex-direction: row;
	width: 400px;
	height: 256px;
	justify-content: center;
}

.causes-block-6 {
	display: flex;
	flex-direction: row;
	width: 400px;
	height: 256px;
	justify-content: center;
}

.food {
	padding-top: 61px;
}

.houseroom {
	padding-top: 60px;
}

.souvenirs {
	padding-top: 57px;
}

.feature-big {
	background-color: #81b3d2;
	color: white;
	margin: 0px auto;
	width: 400px;
	height: 256px;
}


.bridge {
	background-color: #81b3d2;
	width: 400px;
	height: 256px;
	text-align: center;
	padding-top: 20px;
}

.causes1div span {
	font-size: 14px;
	font-height: 21px;
	color: #ffffff;

	background-color: #81b3d2;
}

.causes1div p {
	font-size: 14px;
	font-height: 21px;
	color: #ffffff;

	background-color: #81b3d2;
}

.causes-block-2 li{
	display: inline-block;


}

ul .causes-block-2 h3 {
	font-size: 21px;
	font-height: 21px;
	color: #000000;
	font-weight: bold;

	background-color: #ffffff;
}

ul .causes-block-2 p {
	font-size: 14px;
	font-height: 21px;
	color: #333333;

	background-color: #ffffff;
}

.bridge h3 {
	font-size: 21px;
	font-height: 21px;
	color: #ffffff;
	font-weight: bold;

	background-color: #81b3d2;
}

.causes-block-3 {
	width: 1200px;
	height: 256px;
}

.causes-block-3 span {
	font-size: 14px;
	font-height: 21px;
	color: #ffffff;

	background-color: #81b3d2;
}

.causes-block-3 p {
	font-size: 14px;
	font-height: 21px;
	color: #ffffff;

	background-color: #81b3d2;

}

.causes-block-4 {
	background-color: #eeeeee;
}

.causes-block-5 {
	background-color: #eeeeee;
}

.causes-block-6 {
	background-color: #eeeeee;
}

.area h3 {
	font-size: 21px;
	font-height: 21px;
	color: #000000;
	font-weight: bold;
}

.area span {
	font-size: 14px;
	font-height: 21px;
	color: #333333;
}

.area p {
	font-size: 14px;
	font-height: 21px;
	color: #333333;
}

.road h3 {
	font-size: 21px;
	font-height: 21px;
	color: #000000;
	font-weight: bold;
}

.road span {
	font-size: 14px;
	font-height: 21px;
	color: #333333;
}

.road p {
	font-size: 14px;
	font-height: 21px;
	color: #333333;
}

.tourist h3 {
	font-size: 21px;
	font-height: 21px;
	color: #000000;
	font-weight: bold;
}

.tourist span {
	font-size: 14px;
	font-height: 21px;
	color: #333333;
}

.tourist p {
	font-size: 14px;
	font-height: 21px;
	color: #333333;
}

.search-hotels b {
	font-size: 30px;
	font-height: 36px;
	font-weight: bold;
	color: #000000;

}

.search-hotels p {
	font-size: 14px;
	font-height: 24px;
	color: #333333;

}

.search-button {
	background-color: #766357;
	border: none;
	font-size: 21px;
	font-height: 26px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
}

.date-arrival {
	font-size: 14px;
	font-height: 26px;
	font-weight: bold;
	color: #000000;
}

.date-departure {
	font-size: 14px;
	font-height: 26px;
	font-weight: bold;
	color: #000000;
}

.child-div {
	font-size: 14px;
	font-height: 26px;
	font-weight: bold;
	color: #000000;
}

.adult-div {
	font-size: 14px;
	font-height: 26px;
	font-weight: bold;
	color: #000000;
}

.buttonS {
	background-color: #81b3d2;
	height: 58px;
	width: 458px;
	font-size: 21px;
	font-height: 26px;
	font-weight: bold;
	color: #ffffff;
	border: none;
	text-transform: uppercase;
}

.buttonS:hover {
	background-color: #669ec0;
}

.buttonS:focus {
	background-color: #5496bd;
	color: #94b9d2;
}

.social {
	background-color: rgba(254.254.252.0.5);
}

.socialbc {
	background-color: #81b3d2;
	width: 46px;
	height: 48px;
	text-align: center;
	margin: 6px;
}


.tag-item a {
	font-size: 21px;
	font-height: 26px;
	font-weight: bold;
	color: #000000;
}


.socialbc a:hover {
	background-color: #669ec0;
}


.socialbc a:focus {
	filter: opacity(0.5);
	background-color: #5496bd;
}

.developer-item {
	text-align: center;
}

.calendar {
	background-image: url("../img/calendar.svg");
	background-repeat: no-repeat;
	background-color: white;
	width: 25px;
	height: 25px;
	border: 0;
}

.date {
	background-color: #f2f2f2;
	border: none;
}

.date:hover {
	background-color: #ebebeb;
}

.date:focus {
	background-color: #ffffff;
}

.search-button {
	background-color: #766357;
	height: 86px;
	width: 568px;
	font-size: 21px;
	font-height: 26px;
	font-weight: bold;
	color: #ffffff;
	border: none;
	text-transform: uppercase;
	margin-top: 30px;
}

.search-button:hover {
	background-color: #604e43;
}

.search-button:focus {
	background-color: #503e33;
	color: #928a85;
}

.hotels a {
	list-style: none;
	color: #000000;

}

.hotels a:hover {
	color: #81b3d2;
}

.hotels a:focus {
	color: #cacaca;
}

.moreinfo a {
	background-color: #81b3d2;
	color: white;
	padding: 8px 17px;
	margin-top: 16px;

}

.moreinfo a:hover {
	background-color: #669ec0;
}

.moreinfo a:focus {
	background-color: #5496bd;
	color: #94b9d2;
}

.bookit a {
	background-color: #766357;
	color: white;
	padding: 8px 17px;
}

.bookit a:hover {
	background-color: #604e43;
	color: white;
}

.bookit a:focus {
	background-color: #503e33;
	color: #928a85;
}

.sorting-list a {
	color: #cacaca;
	border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:hover {
	color: #8bb9d5;
}

.sorting-list a:focus {
	color: #000000;
}

.sorting-list .active {
	border: none;
	text-decoration: none;
	color: #8bb9d5;
	cursor: default;
}

.sorting-list .active:focus {
	border: none;
	text-decoration: none;
	color: #8bb9d5;
	cursor: default;
}

.main {
	width: 1200px;
}

.search-hotels {
	margin-top: -65px;
	height: 764px;
	width: 1200px;
	border: 1px solid green;
	text-align: center;
}

.form-search {
	text-align: center;
	padding-top: px;
	padding-right: px;
	padding-left: px;
	padding-bottom: px;
	border: 1px solid red;
	width: 568px;
	height: 395px;
}
