body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;


	min-height: auto;
	margin: 0 auto;
	text-align: center;
}

img {
	border-style: none;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
	list-style: none;
}

.page-wrap {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0px 0px 40px 40px #f2f2f2;
}

header ul {
	display: flex;
	margin: 0;
	padding-top: 13px;
	padding-bottom: 17px;
	line-height: 26px;
}

.visually-hidden {
	visibility: hidden;
}

.container {
	text-align: center;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: black;

	background-color: white;
	margin: 0px auto;
	width: 1200px;
	height: 56px;
}


.discript {
	background-color: white;
}

.site-navigation li:nth-child(1) {
	text-align: left;
	margin-left: 73px;
}

.site-navigation li:nth-child(2) {
	text-align: left;
	margin-left: -2px;
	margin-right: 44px;
}

.site-navigation li:nth-child(3) {
	text-align: right;
	margin-left: 45px;
	margin-right: 6px;
}

.site-navigation li:nth-child(4) {
	text-align: right;
	margin-right: 73px;
}

.site-navigation li {
	width: 20%;
}

.main-header-logo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 138px;
	height: 78px;
	margin: auto;
}

.site-navigation {
	width: 100%;
}

.site-navigation li {
	display: inline-block;
}


.site-navigation a {
	color: black;
	font-weight: bold;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:focus {
	color: #b2b2b2;
}

.site-naigation ul {
	text-align: center;
}

.welcome {
	margin-top: 36px;
}

.welcome-title::after {
	content: url(../img/backgrounddd.png);
	position: relative;
	top: 21px;
}

.welcome-title {
	background-color: white;
	background-image: url("../img/backgroundphoto.png");
	background-position: top center;
	background-repeat: no-repeat;
	box-sizing: content-box;
	margin-top: -20px;
	padding-bottom: 15px;
}

.causes {
	font-size: 21px;
	font-height: 26px;
	color: black;
	margin-top: 26px;
	margin-bottom: 42px;
	margin-left: 350px;
	margin-right: 350px; 
	background-color: white;
}


.promo-causes {
	font-size: 14px;
	font-height: 26px;
	color: #333333;
	margin-bottom: 50px;

	background-color: white;
}

.causes1 {
	width: 215px;
	padding-left: 91px;
	padding-top: 27px;
	font-size: 21px;
	font-height: 21px;
	color: #ffffff;
	font-weight: bold;

	background-color: #81b3d2;
}

.causes-block {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	justify-content: center;
}

.causes-block-1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
} 

.causes-block-2 {
	margin-bottom: -2px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.causes-houseroom {
	display: flex;
	flex-direction: row;
	padding-right: 135px;
	height: 330px;
}

.causes-food {
	display: flex;
	flex-direction: row;
	height: 330px;
}

.causes-souvenirs{
	display: flex;
	flex-direction: row;
	padding-left: 125px;
	height: 330px;

}

.causes-block-3 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 256px;
}

.other-reasons {
	width: 400px;
	height: 256px;
}

.food {
	padding-top: 60px;
}

.houseroom {
	padding-top: 58px;
	padding-left: 7px;
}

.souvenirs {
	padding-top: 54px;
	padding-left: 3px;
}

.feature-big {
	background-color: #81b3d2;
	color: white;
	margin: 0px auto;
	width: 400px;
	height: 256px;
}

.feature-big p {
	width: 265px;
	padding-left: 65px;
	padding-top: 13px;
}

.area {
	padding-top: 25px;
}

.road {

}

.tourist {

}

.bridge {
	background-color: #81b3d2;
	text-align: center;
	width: 400px;
	height: 256px;
	padding-top: 23px;
}

.causes1div span {
	font-size: 14px;
	font-height: 21px;
	color: #ffffff;

	background-color: #81b3d2;
}

.causes1div p {
	font-size: 14px;
	font-height: 21px;
	color: #ffffff;

	background-color: #81b3d2;
}

.causes-block-2 li{
	display: inline-block;


}

ul .causes-block-2 h3 {
	font-size: 21px;
	font-height: 21px;
	color: #000000;
	font-weight: bold;

	background-color: #ffffff;
}

ul .causes-block-2 p {
	padding-top: 6px;
	font-size: 14px;
	font-height: 21px;
	color: #333333;

	background-color: #ffffff;
}

.bridge h3 {
	font-size: 21px;
	font-height: 21px;
	color: #ffffff;
	font-weight: bold;

	background-color: #81b3d2;
}

.causes-block-3 {
	width: 1200px;
	height: 256px;
}

.causes-block-3 span {
	font-size: 14px;
	font-height: 21px;
	color: #ffffff;

	background-color: #81b3d2;
}

.causes-block-3 p {
	padding-top: 12px;
	font-size: 14px;
	font-height: 21px;
	color: #ffffff;

	background-color: #81b3d2;

}

.other-reasons {
	background-color: #eeeeee;
}


.area h3 {
	padding-left: 97px;
	width: 200px;
	font-size: 21px;
	font-height: 21px;
	color: #000000;
	font-weight: bold;
}

.area span {
	font-size: 14px;
	font-height: 21px;
	color: #333333;
}

.area p {
	padding-top: 13px;
	font-size: 14px;
	font-height: 21px;
	color: #333333;
}

.road h3 {
	padding-left: 124px;
    padding-top: 25px;
    width: 150px;
	font-size: 21px;
	font-height: 21px;
	color: #000000;
	font-weight: bold;
}

.road span {
	font-size: 14px;
	font-height: 21px;
	color: #333333;
}

.road p {
	padding-top: 13px;
	font-size: 14px;
	font-height: 21px;
	color: #333333;
}

.tourist h3 {
	padding-left: 124px;
    padding-top: 25px;
    width: 150px;
	font-size: 21px;
	font-height: 21px;
	color: #000000;
	font-weight: bold;
}

.tourist span {
	font-size: 14px;
	font-height: 21px;
	color: #333333;
}

.tourist p {
	padding-top: 13px;
	font-size: 14px;
	font-height: 21px;
	color: #333333;
}

.search-hotels b {
	font-size: 30px;
	font-height: 36px;
	font-weight: bold;
	color: #000000;

}

.search-hotels p {
	font-size: 14px;
	font-height: 24px;
	color: #333333;
	padding-top: 23px;

}

.search-button {
	background-color: #766357;
	border: none;
	font-size: 21px;
	font-height: 26px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
}

.date-arrival {
	margin-top: 45px;
	font-size: 14px;
	font-height: 26px;
	font-weight: bold;
	color: #000000;
	width: 100%;
	position: relative;
	margin-left: 43px;
	margin-right: 43px;
	font-weight: bold;
	color: #000000;
}

.date-departure {
	padding-bottom: 5px;
	font-size: 14px;
	font-height: 26px;
	font-weight: bold;
	color: #000000;
	width: 100%;
	position: relative;
	margin-left: 43px;
	margin-right: 43px;
	font-weight: bold;
	color: #000000;
}

.child-div {
	padding-bottom: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 14px;
	font-height: 26px;
	font-weight: bold;
	color: #000000;
	position: relative;
    width: 40%;
    margin-right: 27px;
    margin-left: 13px;;
}

.adult-div {
	padding-bottom: 28px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 14px;
	font-height: 26px;
	font-weight: bold;
	color: #000000;
	position: relative;
	width: 40%;
	text-align: left;
	margin-right: 3px;
	padding-left: 32px;
}

.buttonS {
	margin-bottom: 41px;
	background-color: #81b3d2;
	height: 58px;
	width: 458px;
	font-size: 21px;
	font-height: 26px;
	font-weight: bold;
	color: #ffffff;
	border: none;
	text-transform: uppercase;
}

.buttonS:hover {
	background-color: #669ec0;
}

.buttonS:focus {
	background-color: #5496bd;
	color: #94b9d2;
}

.social {
	background-color: rgba(254.254.252.0.5);
}

.socialbc {
	background-color: #81b3d2;
	width: 46px;
	height: 48px;
	text-align: center;
	margin: 6px;
}


.tag-item a {
	font-size: 21px;
	font-height: 26px;
	font-weight: bold;
	color: #000000;
}


.socialbc a:hover {
	background-color: #669ec0;
}


.socialbc a:focus {
	filter: opacity(0.5);
	background-color: #5496bd;
}

.developer-item a::before {
	margin-left: 5px;
	content: url("../img/htmlacademyblack.png");
	text-align: center;
}

.developer-item a:hover::before {
	content: url("../img/htmlacademyblue.png");
	text-align: center;
}

.developer-item a:focus::before {
	content: url("../img/htmlacademygrey.png");
	text-align: center;
}

.calendar {
	list-style: none;
	background-image: url("../img/calendargray.png");
	background-repeat: no-repeat;
	background-color: #f2f2f2;
	width: 21px;
	height: 22px;
	border: none;
	outline: none;
	position: absolute;
	top: 8px;
	right: 21px;
}

.calendar:hover {
	background-image: url("../img/calendarblack.png");
	background-repeat: no-repeat;
	background-color: #f2f2f2;
	width: 21px;
	height: 22px;
	border: 0;
	position: absolute;
	top: 8px;
	right: 21px;
}

.calendar:focus {background-image: url("../img/calendarblue.png");
	background-repeat: no-repeat;
	background-color: #f2f2f2;
	width: 21px;
	height: 22px;
	border: 0;
	position: absolute;
	top: 8px;
	right: 21px;
}

.date {
	padding-left: 9px;
	background-color: #f2f2f2;
	border: none;
	width: 346px;
	height: 38px;
	position: relative;
	margin-left: 21px;
	font-weight: bold;
	color: #000000;
}

.date:hover {
	background-color: #ebebeb;
}

.date:focus {
	background-color: #ffffff;
}

.search-button {
	background-color: #766357;
	height: 86px;
	width: 568px;
	font-size: 21px;
	font-height: 26px;
	font-weight: bold;
	color: #ffffff;
	border: none;
	text-transform: uppercase;
	margin-top: 38px;
}

.search-button:hover {
	background-color: #604e43;
}

.search-button:focus {
	background-color: #503e33;
	color: #928a85;
}

.hotels a {
	list-style: none;
	color: #000000;

}

.hotels a:hover {
	color: #81b3d2;
}

.hotels a:focus {
	color: #cacaca;
}

.moreinfo {
	display: block;
	background-color: #81b3d2;
	color: white;
	padding: 3px 17px;
	line-height: 21px;
	font-size: 14px;
	font-weight: bold;
	margin-top: 16px;
	margin-bottom:9px;
	margin-right: 6px;
}

.moreinfo:hover {
	background-color: #669ec0;
}

.moreinfo:focus {
	background-color: #5496bd;
	color: #94b9d2;
}

.bookit {
	display: block;
	background-color: #766357;
	color: white;
	padding: 3px 17px;
	line-height: 21px;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 16px;
}

.bookit:hover {
	background-color: #604e43;
	color: white;
}

.bookit:focus {
	background-color: #503e33;
	color: #928a85;
}

.sorting-list a {
	color: #cacaca;
	border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:hover {
	color: #8bb9d5;
}

.sorting-list a:focus {
	color: #000000;
}

.sorting-list .active {
	border: none;
	text-decoration: none;
	color: #8bb9d5;
	cursor: default;
}

.sorting-list .active:focus {
	border: none;
	text-decoration: none;
	color: #8bb9d5;
	cursor: default;
}

.search-hotels {
	width: 100%;
	margin: 0 auto;
	margin-top: -15px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.map {
	width: 100%;
	margin: 0 auto;
	position: relative;
	display: flex;
	justify-content: center;
}

.form-search {
	width: 568px;
	height: 395px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	position: absolute;
	background-color: #ffffff;
}

.footer {
	display: flex;
	align-items: center;
	background-color: rgba(255,255,255,0.9);
	margin: 0 auto;
	width: 100%;
	height: 120px;
	margin-top: -120px;
	position: relative;
	z-index: 2;
}

.width-social {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33%;
}

.social ul {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social li {
	margin-right: 0px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	border: none;
	outline: none;
	list-style: none;
	width: 38px;
	height: 38px;
	position: absolute;
	background-color: #f2f2f2;
}

.child {
	width: 38px;
	height: 36px;
	border: none;
	outline: none;
	background-color: #f2f2f2;
	margin-left: 0;
	text-align: center;
	position: relative;
    padding-right: 0px;
}

.adult {
	width: 38px;
	height: 36px;
	border: none;
	outline: none;
	background-color: #f2f2f2;
	text-align: center;
	position: relative;
	margin-left: 49px;
    margin-right: 29px;
}

.minus {
	position: absolute;
	border: none;
	outline: none;
	list-style: none;
    margin-left: 19px;
	padding-bottom: 7px;
}

.plus {
	position: absolute;
	border: none;
	outline: none;
	list-style: none;
	margin-left: 93px;
}

.minus::before {
	content: url("../img/minusgray.png");
	text-align: center;
}

.minus:hover::before {
	content: url("../img/minusblack.png");
}

.minus:focus::before {
	content: url("../img/minusblue.png");
}

.plus::before {
	content: url("../img/plusgray.png");
}

.plus:hover::before {
	content: url("../img/plusblack.png");
}

.plus:focus::before {
	content: url("../img/plusblue.png");
}

.sorting-hotels {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
	padding: 29px 72px 30px 72px;
}

.sorting {
	font-size: 12px;
	display: flex;
	align-items: center; 
	justify-content: space-between;
	margin-left: 49px;
	width: 100%;
}

.sorting-list {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-left: 39px;
	width: 100%;
}

.sorting-list li:nth-child(2) {
	margin-left: 33px;
}

.sorting-list li:nth-child(3) {
	margin-left: 33px;
}

.found-hotel {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 120px;
}

.sorting-hotels {
	padding-top: 18px;
	padding-bottom: 19px;
}

.filters {
	width: 100%;
}

.results-block {
	margin-bottom: -4px;
	margin-top: 2px;
	display: flex;
	align-items: center;
	padding-top: 25px;
    padding-right: 72px;
    padding-bottom: 25px;
    padding-left: 72px;
	border-bottom: 1px solid #e5e5e5;
}

.hotels {
	margin-top: 0px;
	min-width: 750px;
	text-align: left;
	margin-bottom: 8px;
}

.result-description {
	text-align: left;
}

.result-description1 {
}

.rd {
	display: flex;
	flex-wrap: wrap;
	width: 780px;
	margin-left: 30px;
	margin-right: 52px;
}

.rating {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: right;
	justify-content: space-between;
}

.rating-sum {
	margin-top: 48px;
	padding: 5px;
	color: #666666;
	background-color: #f2f2f2;
	text-align: center;
}

.found {
	line-height: 26px;
	font-size: 21px;
	font-weight: bold;
}

.infrastructure {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-left: 57px;
}

.type-houseroom {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-right: 212px;
}

.pay {
	display: flex;
	flex-direction: column;
	margin-right: 60px;
}

.form-hotels {
	background-image: url("../img/filterbackground.png");
	background-position: center;
	margin: 0 auto;
	margin-top: -97px;
	width: 100%;
	display: flex;
	height: 217px;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	color: #ffffff;
}

fieldset {
	border: none;
}

legend {
	font-weight: bold;
}

/*                Фильтр                                              */
.filter-range {
  width: 330px;
  margin: 50px auto;

  color: #ffffff;
  text-transform: uppercase;
  margin-right: 60px;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 17px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
/*                                                                  */

.checkbox {
	display: none;
}

.checkbox-custom {
	position: relative;
	width: 20px;
	height: 20px;
}

.checkbox-custom
.label {
	display: inline-block;
	vertical-align: middle;
}

.checkbox-custom::before {
	content: url("../img/off.png");
	display: block;
	position: absolute;
}

.checkbox:checked + .checkbox-custom::before {
	content: url("../img/on.png");
}

.filter-checkbox label {
	margin-top: 22px;
}

.label {
	margin-left: 30px;
}

.up::before {
	content: url("../img/upicon.png");
}

.up:hover::before {
	content: url("../img/upiconhover.png");
}

.up:focus::before {
	content: url("../img/upiconfocus.png");
}

.down::before {
	content: url("../img/downiconfocus.png");
	pointer-events: none;
}

a.active {
	pointer-events: none;
}

.slr {
	display: flex;
}

.sorting-list-rating {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.webs {
	margin-right: 6px;
	margin-left: 20px;
}

.sorting-list-rating li:nth-child(1) {
	padding-right: 12px;
}

.infra {
	padding-left: 56px;
    margin-left: 0px;
}

.htype {
	padding-right: 253px;
}

.active-hotel a {
	color: #766357;
	pointer-events: none;
}